@keyframes moveLines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 4px 4px; /* Muove le righe di 4px */
  }
}

@keyframes flicker {
    0% { 
    color: #70c0cf;
    text-shadow: 0 0 10px rgba(100, 100, 155, 0.8);
    }
    100% {
    color: #a0f0ff;
    text-shadow: 0 0 20px rgba(200, 200, 255, 1);
    }
  }


#fire, #text-logo {
    animation: flicker 0.03s infinite alternate ease-in-out;
    text-align: center;
    white-space: pre;

}

.fire {
  font-size: 2vw;
}

header {
  font-size: 1vw;
}

b, h1, h2 {
  animation: flicker .03s infinite alternate ease-in-out;
}

h2 {
  font-size: large;
}

h2::after {
  margin-left: 0.2em;
  content: "";
  width: 0.3em;
  height: 0.8em;
  background: #70c0cf;
  display: inline-block;
  animation: cursor-blink 0.3s infinite alternate ease-in-out;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  100% {
    color: #a0f0ff;
    text-shadow: 0 0 20px rgba(200, 200, 255, 1);
    }
}



body {
  color: #70c0cf;
  background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(0deg, #2a4e5e 0%, #000000 90%);
  background-size: 4px 4px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  animation: moveLines 0.1s linear infinite; /* Anima lo sfondo */

  font-family: monospace;
  text-align: center;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  flex-direction: column;
}

header {
  border: 0.1rem double;
  margin: 10em;
  animation: flicker 0.1s infinite alternate ease-in-out;
  max-width: 80em;
}

section {
  width: 90%;
  word-wrap: break-word; /* Per spezzare le parole lunghe */
  overflow-wrap: break-word; /* Per garantire il wrapping su tutti i browser */
  text-align: center;
  white-space: normal; /* Assicura che il testo vada a capo */
  max-width: 50em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
